div.card {
  height: 100%;

  border-radius: 20px;
  box-shadow: 0 0 30px -15px rgba(10, 10, 10, 0.7);

  .card-image {
    display: flex;
    justify-content: center;
  }

  .gatsby-image-wrapper {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  transition: transform .2s;
  transition-timing-function: ease;

  &:hover,
  &:focus {
    transform: scale(1.02);
  }
}

.project.card {
  display: flex;
  flex-direction: column;

  div.link {
    margin-bottom: 1em;
  }

  .card-content {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    .spacer {
      flex-grow: 1;
    }
  }
}

.blog-hero.card {
  .gatsby-image-wrapper {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  @media (min-width: $tablet) {
    margin-left: 15%;
    margin-right: 15%;
  }

  margin-bottom: 2rem;
}