div.job {
  margin-bottom: 50px;
}

div.job article.media {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-left: 10%;
    margin-right: 10%;
  }
}

div.job > .content {
  @media (min-width: $tablet) {
    margin-left: 10%;
    margin-right: 10%;
  }
}

div.job figure.media-left img {
  border-radius: 10px;
}

div.job div.media-content {
  overflow: hidden;
}

div.job h3.job-title {
  color: $color-medium-grey;
}

div.job button {
  margin-bottom: 1rem;
}