header nav.navbar {
  background-color: $color-deep-blue;

  .navbar-burger span {
    color: seashell;
  }

  .navbar-menu {
    background-color: $color-deep-blue;
    box-shadow: none;
  }

  a.navbar-item {
    color: seashell;

    &:focus,
    &:hover {
      background-color: #4161a2;
    }
  }
}

header div.navbar-brand a {
  font-family: 'Inconsolata', monospace;
}

h1.title {
  margin-top: 0.75em;
  margin-bottom: 1em;

  font-size: 2.5rem;
  text-align: center;
}