header nav.navbar {
  background-color: #274d99;

  a.navbar-item {
    color: seashell;

    &:focus,
    &:hover {
      background-color: #4161a2;
    }
  }
}

header div.navbar-brand a {
  font-family: 'Inconsolata', monospace;
}

h1.title {
  margin-top: 0.75em;
  margin-bottom: 1em;

  font-size: 2.5rem;
  text-align: center;
}