.banner--terminal-hero {
  background-color: rgb(39, 121, 197);
  padding-bottom: 10px;

  @media (min-width: $tablet) {
    padding-bottom: 0;
  }

  .columns {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .column {
    padding: 0;
  }

  .column--ctas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .terminal {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    padding: 2rem 2rem 2rem 2rem;
    margin: 0rem 1rem 1rem 1rem;

    background-color: #353332;

    @media (min-width: $tablet) {
      border-radius: 20px 20px 0px 0px;

      padding: 2rem 2rem 6rem 2rem;
      margin: 1.5rem 1rem 0 1rem;

      transition: padding .2s, margin .2s;
      transition-timing-function: ease;

      &:hover,
      &:focus {
        padding: 2rem 2rem 6.5rem 2rem;
        margin: 1rem 1rem 0 1rem;
      }
    }
  }

  .terminal-line,
  .terminal-line span {
    font-family: 'Inconsolata', monospace;
    color: #c7c7c7;
  }
}